@font-face {
    font-family: "PingFangSCRegular";
    src: url("../fonts/PingFangSCRegular.ttf") format("truetype");
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "PingFangSCRegular";
}
.center-warp {
    width: 1152px;
    margin: 0 auto;
}
.clearfix {
    overflow: hidden;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
/* 顶部左侧的h2和span */
.content-ht h2 {
    float: left;
    font-size: 36px;
    font-weight: bold;
    color: #1C1F21;
}
.content-ht span {
    position: relative;
    top: 28px;
    float: left;
    font-size: 12px;
    margin-left: 12px;
    color: #1C1F21;
}
/* 顶部右侧的ul */
.content-ht ul {
    height: 22px;
    position: relative;
    top: 10px;
}
.content-ht li {
    float: left;
    margin-right: 16px;
}
.content-ht ul>li:last-child {
    margin-right: 0;
}
.content-ht ul li a {
    font-size: 14px;
    color: #000000;
}
.content-ht ul>li a:hover {
    color: #20BD9A;
}
.content-ht ul>li:hover {
    border-bottom: 2px solid #20BD9A;
}

/* 查看更多的盒子 */
.content-part .more-grid {
    width: 264px;
    height: 270px;
    background-image: linear-gradient(to bottom, #34E3BC, #15AF7A);
    position: relative;
}
.content-part .more-grid a {
    display: block;
    height: 270px;
    padding-top: 46px;
    box-sizing: border-box;
}
.content-part .more-grid a p {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
.content-part .more-grid a span.iconfont{
    position: absolute;
    font-size: 48px;
    top: 50%;
    margin-top: -24px;
    left: 50%;
    margin-left: -24px;
}
.content-part .more-grid a ol {
    position: absolute;
    bottom: 46px;
    margin-left: 30px;
}
.content-part .more-grid a ol li {
    float: left;
    padding: 0 10px;
    font-size: 14px;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.content-part .more-grid a ol li:last-child {
    border: none;
}


/* 共同的下拉框 */
.site-head .up-down-menu .show-menu {
    position: absolute;
    top: 32px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
}
.site-head .up-down-menu:hover .show-menu {
    display: block;
}
