/* 第一部分 顶部菜单, 中部菜单, 搜索 */
.site-head {
    /* 防止用户过分的缩小网页 */
    min-width: 1152px;
    height: 150px;
}
.site-head .top-bar {
    /* 防止用户过分的缩小网页 */
    min-width: 1152px;
    height: 32px;
    background-color: #2A2A2A;
}
.site-head .top-bar .center-warp .shortcut-links {
    float: left;
}
.site-head .top-bar .center-warp .fast-links {
    float: right;
}
.site-head .top-bar .center-warp .fast-links span {
    line-height: 32px;
    margin-right: 16px;
    color: #FFFFFF;
}
.site-head .top-bar .center-warp .fast-links .contentA {
    float: right;
    height: 20px;
    margin-top: 3px;
}
.site-head .top-bar .center-warp .fast-links .contentA a {
    font-size: 12px;
    /*line-height: 20px;*/
    color: #FFFFFF;
}
.site-head .top-bar .center-warp .shortcut-links ul {
}
.site-head .top-bar .center-warp .shortcut-links > ul > li {
    float: left;
    /*width: 55px;*/
    height: 32px;
    margin-right: 18px;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li a {
    font-size: 12px;
    line-height: 32px;
    color: #FFFFFF;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu {
    padding-right: 12px;
    position: relative;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transition: transform .2s linear 0s;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu:hover .arrow {
    transform: rotate(180deg);
}
/* 两个子盒子相互旋转压盖, 获得一个箭头 */
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .arrow i {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 3px;
    top: 2px;
    background-color: white;
    transform: rotate(45deg);
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .arrow b {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 3px;
    top: 2px;
    margin-top: -2px;
    background-color: #2A2A2A;
    transform: rotate(45deg);
}

/* 下拉菜单大小 */
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .menu .menu-list>li {
    float: left;
    width: 121px;
    height: 14px;
    line-height: 14px;
    padding: 5px;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .menu .menu-list>li:last-child {
    padding-bottom: 10px;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .menu .menu-list a {
    font-size: 12px;
    line-height: 14px;
    color: #1C1F21;
}
.site-head .top-bar .center-warp .shortcut-links > ul > li.up-down-menu .menu .menu-list>li:hover a {
    color: orange;
}

.site-head .mid-bar {
    height: 40px;
    background-color: #20BD9A;
}
.site-head .mid-bar .center-warp ul {

}
.site-head .mid-bar .center-warp ul li {
    float: left;
    height: 40px;
    margin-right: 18px;
}
.site-head .mid-bar .center-warp ul li > a {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
}
.site-head .mid-bar .center-warp ul li.up-down-menu {
    padding-right: 16px;
    position: relative;
}
.site-head .mid-bar .center-warp ul li.up-down-menu::after {
    position: absolute;
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    right: 0;
    top: 50%;
    margin-top: -3px;
    border: 6px solid transparent;
    border-bottom: none;
    border-top-color: #FFFFFF;
    transition: transform .2s linear 0s;
}
.site-head .mid-bar .center-warp ul li.up-down-menu:hover::after {
    transform: rotate(180deg);
}
/* 下拉菜单字体样式 */
.site-head .mid-bar .center-warp ul li.up-down-menu dl {
    margin-top: 4px;
    margin-left: 6px;
}
.site-head .mid-bar .center-warp ul li.up-down-menu dl dt {
    font-size: 14px;
    font-weight: bold;
    color: #1C1F21;
}
.site-head .mid-bar .center-warp ul li.up-down-menu dl dd a {
    font-size: 12px;
    color: #1C1F21;
}
.site-head .mid-bar .center-warp ul li.up-down-menu dl dd a:hover {
    color: orange;
}
/* 下拉菜单大小 */
.site-head .mid-bar .center-warp ul li.up-down-menu .zyx-menu{
    width: 160px;
    height: 72px;
}
.site-head .mid-bar .center-warp ul li.up-down-menu .gty-menu{
    width: 106px;
    height: 54px;
}
.site-head .mid-bar .center-warp ul li.up-down-menu .yw-menu{
    width: 172px;
    height: 91px;
}
.site-head .mid-bar .center-warp ul li.up-down-menu .sd-menu{
    width: 118px;
    height: 72px;
}

.site-head .botTop .center-warp .logoMenu {
    margin: 21px auto;
    height: 48px;
}
.site-head .botTop .center-warp .logoMenu h1 {
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    color: #20BD9A;
}
.site-head .botTop .center-warp .logoMenu .souMenu {
    float: left;
    width: 405px;
    height: 30px;
    margin-top: 8px;
    margin-left: 20px;
}
.site-head .botTop .center-warp .logoMenu .souMenu input {
    float: left;
    width: 361px;
    height: 28px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #20BD9A;
    border-radius: 4px 0 0 4px;
    outline: none;
}
.site-head .botTop .center-warp .logoMenu .souMenu a {
    float: left;
    display: inline-block;
    width: 32px;
    height: 30px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-color: #20BD9A;
}
.site-head .botTop .center-warp .logoMenu .souMenu a span {
    width: 20px;
    height: 20px;
    line-height: 30px;
}
/* 第二部分 banner图 */
.banner {
    position: relative;
}
.banner .banner-img {
    width: 100%;
    /* 防止用户过分的缩小网页 */
    min-width: 1152px;
    /* 防止图片和盒子之间产生空隙   */
    vertical-align: middle;
}
.banner .center-warp {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -576px;
    width: 1152px;
    height: 100%;
}
.banner .center-warp .center-btn {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 32px;
    height: 44px;
    background-image: url("../images/icons.png");
}
.banner .center-warp .center-btn:hover {
    opacity: 0.8;
}
.banner .center-warp .left-btn {
    left: -42px;
    background-position: -19px -94px;
}
.banner .center-warp .right-btn {
    right: -42px;
    background-position: -19px -29px;
}
.banner .center-warp .banner-nav {
    height: 100%;
}
.banner .center-warp .banner-nav ul {
    height: 100%;
}
.banner .center-warp .banner-nav ul>li {
    position: relative;
    width: 296px;
    height: 16.66%;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(256, 256, 256, 0.5);
}
.banner .center-warp .banner-nav ul>li:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.banner .center-warp .banner-nav ul>li:last-child {
    border: none;
}
.banner .center-warp .banner-nav ul>li dl {
    position: absolute;
    height: 48px;
    top: 50%;
    left: 42px;
    margin-top: -24px;
}
.banner .center-warp .banner-nav ul>li dl dt{
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
.banner .center-warp .banner-nav ul>li dl dd{
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
/* dl前面图标 */
.banner .center-warp .banner-nav ul>li dl::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    left: 0;
    margin-left: -30px;
}
.banner .center-warp .banner-nav ul>li dl.hot::before {
    background-image: url("../images/icons.png");
    background-position: -28px -399px;
}
.banner .center-warp .banner-nav ul>li dl.hk::before {
    background-image: url("../images/icons.png");
    background-position: -28px -216px;
}
.banner .center-warp .banner-nav ul>li dl.jp::before {
    background-image: url("../images/icons.png");
    background-position: -28px -170px;
}
.banner .center-warp .banner-nav ul>li dl.as::before{
    background-image: url("../images/icons.png");
    background-position: -28px -260px;
}
.banner .center-warp .banner-nav ul>li dl.eu::before {
    background-image: url("../images/icons.png");
    background-position: -28px -350px;
}
.banner .center-warp .banner-nav ul>li dl.af::before {
    background-image: url("../images/icons.png");
    background-position: -28px -304px;
}
/* 向右的箭头 */
.banner .center-warp .banner-nav ul>li .arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    right: 12px;
    transform: rotate(45deg);
    background-color: transparent;
    border: none;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}
.banner .center-warp .banner-nav .menu-box .menu{
    position: absolute;
    top: 0;
    left: 296px;
    width: 356px;
    height: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    box-sizing: border-box;
}
/* 当前选中的菜单 */
.banner .center-warp .banner-nav .menu-box .current-menu {
    display: block;
}
.banner .center-warp .banner-nav .menu-box .menu dl {
    margin-bottom: 12px;
}
.banner .center-warp .banner-nav .menu-box .menu dl dt {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #FFFFFF;
}
.banner .center-warp .banner-nav .menu-box .menu dl dd {
    font-size: 14px;
    color: #FFFFFF;
}
.banner .center-warp .banner-nav .menu-box .menu dl dd a {
    font-size: 14px;
    line-height: 22px;
    margin-right: 4px;
    color: #FFFFFF;
}
.banner .center-warp .banner-nav .menu-box .menu dl dd a:hover {
    color: orange;
}
aside {
    margin: 32px 0;
}
/* 清除浮动 */
aside .center-warp ul::after {
    content: '';
    display: block;
    clear: both;
}
aside .center-warp ul li {
    float: left;
    width: 264px;
    height: 110px;
    margin-right: 32px;
}
aside .center-warp ul li:last-child {
    margin-right: 0;
}
.xxsh {
    height: 698px;
    min-width: 1152px;
    padding-top: 40px;
    background-color: #F7F7F7;
}
.xxsh .center-warp .xxsh-title {
    height: 54px;
    clear: both;
}
.xxsh .center-warp ul {
    height: 572px;
    margin-top: 32px;
}
.xxsh .center-warp ul li {
    float: left;
    width: 264px;
    height: 270px;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: #FFFFFF;
}
.xxsh .center-warp ul li:hover {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
.xxsh .center-warp ul li:nth-child(4n) {
    margin-right: 0;
}
.xxsh .center-warp ul li .word-box {
    font-size: 14px;
    margin: 20px 14px 22px;
    color: #1C1F21;
}
.jjzyx {
    height: 698px;
    margin-top: 40px;
}
.jjzyx .center-warp .hd {
    height: 54px;
}
.jjzyx .center-warp .hd .hd-left {
    float: left;
}
.jjzyx .center-warp .hd .hd-right {
    float: right;
}
.jjzyx .center-warp .bd ul>li {
    float: left;
    margin-top: 32px;
    margin-right: 32px;
    background-color: #FFFFFF;
}
.jjzyx .center-warp .bd ul>li.pro-grid {
    width: 264px;
    height: 270px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.jjzyx .center-warp .bd ul>li.pro-grid:hover {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.4);
}
.jjzyx .center-warp .bd ul>li.big-grid {
    width: 560px;
    height: 270px;
    position: relative;
}
.jjzyx .center-warp .bd ul>li:nth-child(3), .jjzyx .center-warp .bd ul>li:nth-child(7) {
    margin-right: 0;
}
/* 第一张大图 */
.jjzyx .center-warp .bd ul>li.big-grid .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 103px;
    padding: 30px 26px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.55);
}
/* span的公共样式 */
.jjzyx .center-warp .bd ul>li.pro-grid span, .jjzyx .center-warp .bd ul>li.big-grid span{
    position: absolute;
    left: 0;
    width: 74px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.55);
}
.jjzyx .center-warp .bd ul>li.big-grid span {
    bottom: 103px;
}
.jjzyx .center-warp .bd ul>li.big-grid .info p {
    font-size: 14px;
    color: #FFFFFF;
}
.jjzyx .center-warp .bd ul>li.pro-grid a .pic-box {
    width: 264px;
    height: 184px;
    position: relative;
}
.jjzyx .center-warp .bd ul>li.pro-grid a .pic-box span {
    bottom: 0;
}
.jjzyx .center-warp .bd ul>li.pro-grid a .word-box {
    font-size: 14px;
    padding: 20px 14px 22px;
    color: #1C1F21;
}
.ddwl {
    height: 586px;
    background-color: #F7F7F7;
}
.ddwl .center-warp .hd {
    padding-top: 40px;
}
.ddwl .center-warp .hd .hd-left {
    float: left;
}
.ddwl .center-warp .hd .hd-right {
    float: right;
}
.ddwl .center-warp .bd {
    height: 420px;
    margin-top: 32px;
}
.ddwl .center-warp .bd .col {
    float: left;
    width: 364px;
    height: 420px;
    margin-right: 30px;
}
.ddwl .center-warp .bd .col:last-child {
    margin-right: 0;
}
.ddwl .center-warp .bd .col .big-pic {
    width: 364px;
    height: 270px;
    position: relative;
}
.ddwl .center-warp .bd .col .big-pic .info {
    width: 364px;
    height: 104px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px 21px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}
.ddwl .center-warp .bd .col .big-pic .info p {
    font-size: 14px;
    color: #FFFFFF;
}
.ddwl .center-warp .bd .col .big-pic .info .info-price {
    height: 28px;
    padding-top: 6px;
}
.ddwl .center-warp .bd .col .big-pic .info .info-price .span-left {
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.ddwl .center-warp .bd .col .big-pic .info .info-price .span-right {
    float: right;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.ddwl .center-warp .bd .col .big-pic .info .info-price .span-right i {
    font-style: normal;
    color: #36DFBA;
}
.ddwl .center-warp .bd .col .pro-pic {
    width: 364px;
    height: 120px;
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.ddwl .center-warp .bd .col .pro-pic:hover {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.4);
}
.ddwl .center-warp .bd .col .pro-pic.pro-pic-top{
    margin-top: 0;
}
.ddwl .center-warp .bd .col .pro-pic .pic-box {
    float: left;
    width: 120px;
    height: 120px;
}
.ddwl .center-warp .bd .col .pro-pic .word-box {
    float: right;
    width: 244px;
    height: 120px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 26px 18px;
    color: #000000;
}
.ddwl .center-warp .bd .col .more-grid {
    width: 364px;
    height: 270px;
    margin-top: 30px;
    background-image: linear-gradient(to bottom, #FF6374, #FF7368);
}
.ddwl .center-warp .bd .col .more-grid a ol {
    margin-left: 20px;
}
.tsty {
    height: 456px;
}
.tsty .center-warp .hd {
    width: 216px;
    height: 55px;
    margin: 0 auto;
    padding-top: 40px;
}
.tsty .center-warp .hd h2{
    float: none;
}
.tsty .center-warp .bd {
    margin-top: 32px;
}
.tsty .center-warp .bd ul>li {
    float: left;
    width: 264px;
    height: 290px;
    margin-right: 32px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.tsty .center-warp .bd ul>li:hover {
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.4);
}
.tsty .center-warp .bd ul>li:last-child {
    margin-right: 0;
}
.tsty .center-warp .bd ul>li .pro-pic {
    width: 264px;
    height: 290px;
}
.tsty .center-warp .bd ul>li .pro-pic .pic-box {
    width: 264px;
    height: 184px;
}
.tsty .center-warp .bd ul>li .pro-pic .word-box {
    width: 264px;
    height: 106px;
    padding: 16px 10px 0;
    box-sizing: border-box;
}
.tsty .center-warp .bd ul>li .pro-pic .word-box .pro-name {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    height: 48px;
}
.tsty .center-warp .bd ul>li .pro-pic .word-box .score {
    font-size: 12px;
    color: #FA6400;
}
.tsty .center-warp .bd ul>li .pro-pic .word-box .comment {
    font-size: 12px;
    color: #000000;
}
